<header class="aemsf-header">
    <div class="container">
        <a class="aemsf-header-logo" href="#">WKND</a>
        <h1>${currentPage.title ? currentPage.title : 'header'}</h1>
    </div>
</header>